.with-hero-banner, .hero-banner-gradient {
  background-size:auto 650px;
  @include media($media__xlarge) { background-size: contain; }
  @include media($media__xxlarge) { background-size: 1920px 1000px; }
}

.hero-banner-container {
  @include row();
  padding:0;
  @include outer-container($local-max-width: $container__content-width);
  &.full-width { @include outer-container($local-max-width: $container__outer-width); }
}

.hero-banner {
  @include clearfix;
  @include span-columns(12);
  text-align: center;
  padding:($v-rhythm * 2) em(30px);
  @include media($media__small) { padding:($v-rhythm * 6) em(30px); }
  @include media($media__medium) { @include shift(1); @include span-columns(10); }

  .btn {
    display:block;
    margin-right:0;
    @include media($media__small) {
      margin-right:em(6px);
      display: inline-block;
    }
  }

  .lead {
    @include media(max-width $media__large) { @include font-size(16); }
  }
  a { display:block; margin:$v-rhythm 0; }

  &.left {
    @include media($media__large) { @include shift(0); @include span-columns(6); text-align:left; }
    @include media($media__xxlarge) { @include shift(0); @include span-columns(7); }

  }
  &.right {
    @include media($media__large) { @include shift(6); @include span-columns(6); text-align:left; }
    @include media($media__xxlarge) { @include shift(5); @include span-columns(7); }
  }

  &.center {
    @include media($media__large) { @include shift(1); @include span-columns(10); text-align:center; }
  }

  @include media($media__large) {
    text-align: left;
    padding:($v-rhythm * 7) 0;
    @include span-columns(7);
    @include shift(1);
    a {
      display:inline;
      margin-right: em(16px);
      &:last-child {
        margin-right: 0;
      }
    }
  }

  @include media($media__xlarge) {
    padding:($v-rhythm * 7) 0;
  }
  @include media($media__xxlarge) {
    padding:($v-rhythm * 16) 0;
  }
}

.hero-flag {
  @include media($media__medium) {
    display:block !important;
    margin:0 auto !important;
    width:64px !important; height:64px !important;
  }
}