.page-nav {
  @include clearfix;
  @include font-size(13);
  background-color: #e4e4e4;
  border-top:1px solid darken($color__fipra-mid-gray, 5%);

  &.with-padding { padding:$v-rhythm 0; }
  &.with-top-padding { padding:$v-rhythm 0 0 0; }
}

#breadcrumbs {
  border-bottom: #d6d6d6 solid 1px;
  .breadcrumbs-content { @extend .content-area; }
  .divider { padding:0 em(4px); }
  @include media(max-width $media__medium) { display:none; }
}