.btn, .btn:link, .btn:visited {
  display:inline-block;
  border-radius:3px;
  @include font-size(16);
  padding: $v-rhythm * 0.25 rem(16px);
  margin-bottom: $v-rhythm * 0.5;
  margin-right: rem(16px);
  &:last-child { margin-right: 0; }
  &.no-margin { margin:0; }
  &.btn-large { padding: $v-rhythm * 0.75 rem(16px); @include media($media__medium) { @include font-size(18); } }
  &.btn-medium { @include media($media__medium) { @include font-size(16); } }
  &.btn-small { @include font-size(14); }
  &.btn-extra-small { @include font-size(12); padding: $v-rhythm * 0.1 rem(16px) * 0.5; margin-right: rem(16px) * 0.5; }

  &.primary {
    @include transition(all 0.2s);
    &:hover { opacity:0.7; }

    &.btn-white {
      border-bottom:2px solid darken(white, 30%);
      background-color: white; color:$color__fipra-blue;
    }
  }

  &.secondary {
    @include transition(all 0.2s);
    &:hover {
      opacity:0.7;
    }

    &.btn-white { border: 1px solid white; color:white; }
  }

  &.btn-clear {
    background:none;
    border:0;
    padding:$v-rhythm * 0.5 em(4px) !important;
  }

//  &.btn-large { @include font-size(22); }

  &.btn-omega { margin-right:0 !important; }

  &.full-width { display:block; }
}

.btn-social-media {
  float:left;
  border:1px solid #d1d1d1;
  @include font-size(21);
  line-height:0;
  margin-left:5px;
  border-radius: 5px;
  padding:5px;
}

.owl-prev, .owl-next { cursor: pointer; }