ul, ol {
  margin: 0 0 $v-rhythm * 2 0;
}

.site-main {
  ul {
    list-style: none;
    &.no-bottom-margin { margin-bottom: 0; }
    &.no-v-spacing { li { margin-bottom:0; } }
  }

  ul {
    li {
      text-indent: em(-30px);
      margin-bottom: $v-rhythm;
      line-height: $v-rhythm * 2;
      &:before {
        content: "■ ";
        @include font-size(12);
        padding-right: em(28px);
      }
    }

    &.no-list-type {
      list-style: none;
      padding-left:0;
    }
  }

  ol {
    list-style: decimal;
    padding-left: em(24px);
    li {
      margin-bottom: $v-rhythm;
    }
  }

  li > ul,
  li > ol {
    margin-top: $v-rhythm;
    margin-bottom: 0;
    margin-left: em(24px);
  }
}

.footer-section,
.site-info-section,
aside {
  ul, ol {
    list-style: none;
    padding-left:0;


    li {
      margin: 0 0 $v-rhythm 0;
      &:before {
        content: "";
        padding-right: 0;
      }
    }
  }
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 $v-rhythm * 2 em(24px);
}