.br-top {
}

.br-bottom {
}

.br-left {
}

.br-right {
}

.attachment-post-thumbnail {
  width: 100%;
}

.svg-icon {
  z-index: 5;
  position: relative;
  display: inline-block;
  float:left;
  width: 30px; height: 30px;
  &.margin-r { margin-right: em(12px); }
  svg {position: absolute; display:block; width:100%;
    top:0; bottom: 0; left: 0; right: 0;
    margin: auto;
    fill: white;
  }
  &.svg-blue {
    svg {
      fill:$color__fipra-blue;
    }
  }
}

.highlight-box {
  font-family: $font__sans;
  &.primary {
    background-color: $color__fipra-blue-gray;
    padding: $v-rhythm em(16px);
    color: white;
    a {
      color: $color__fipra-blue;
      font-weight: $font__black;
      &:hover {
        color: $color__fipra-blue-gray;
      }
    }
  }
  &.secondary {
    background-color: darken($color__fipra-light-gray, 10%);
    @include linear-gradient(darken($color__fipra-light-gray, 5%) 0%, $color__fipra-light-gray 70%);
    padding: $v-rhythm em(16px);
    color: $color_soft-black;
    a {
      color: $color__fipra-blue;
      font-weight: $font__black;
      &:hover {
        color: $color__fipra-blue-gray;
      }
    }
  }
}

.circle-icon, .square-icon, .circle-icon-outline {
  display: inline-block;
  margin-bottom: $v-rhythm * 2;
  line-height: 55px;
  width: 55px;
  height: 55px;
  background-color: white;
//  box-shadow: 0 0 6px rgba(black, 0.1);
  text-shadow: 0px 2px 0px white;
  text-align: center;
  color: $color__fipra-blue;
  @include font-size(26);

  @include media($media__medium) {
    width: 80px;
    height: 80px;
    @include font-size(42);
    line-height: 80px;
  }

  &.small {
    width: 40px;
    height: 40px;
    @include font-size(21);
    line-height: 38px;

    @include media($media__medium) {
      width: 55px;
      height: 55px;
      @include font-size(26);
      line-height: 55px;
    }
  }


  &.grey-icon { color: $color__fipra-blue-gray; }
  &.blue {
    color: white;
    background: $color__fipra-blue;
    text-shadow: 0px -1px 0px darken($color__fipra-blue, 10%);
  }
  &.grey {
    color: white;
    background: $color__fipra-blue-gray;
    text-shadow: 0px -1px 0px darken($color__fipra-blue-gray, 10%);
  }
  &.periwinkle {
    color: darken($color__fipra-periwinkle, 40%);
    @include radial-gradient(circle at 50% 10%, $color__fipra-periwinkle 60%, darken($color__fipra-periwinkle, 15%) 80%);
    text-shadow: 0px 1px 0px lighten($color__fipra-periwinkle, 10%);
  }
  &.turquoise {
    color: white;
    @include radial-gradient(circle at 50% 10%, $color__fipra-turquoise 60%, darken($color__fipra-turquoise, 15%) 80%);
    text-shadow: 0px -1px 0px darken($color__fipra-turquoise, 10%);
  }
  &.orange {
    color: white;
    @include radial-gradient(circle at 50% 10%, orange 60%, darken(orange, 15%) 80%);
    text-shadow: 0px -1px 0px darken(orange, 10%);
  }
  &.violet {
    color: white;
    @include radial-gradient(circle at 50% 10%, $color__fipra-violet 60%, darken($color__fipra-violet, 15%) 80%);
    text-shadow: 0px -1px 0px darken($color__fipra-violet, 10%);
  }


}

.circle-icon {
  @include border-left-radius(50%);
  @include border-right-radius(50%);
//  @include radial-gradient(circle at 50% 10%, white 60%, darken(white, 15%) 80%);
}

.circle-icon-outline {
  @include border-left-radius(50%);
  @include border-right-radius(50%);
  background: none;
  box-shadow: none;
  text-shadow: none;
  color: white;
  border: 1px solid white;
}

.square-icon {
  @include radial-gradient(circle at 50% 10%, white 60%, darken(white, 15%) 80%);
}

.circle-icon, .square-icon {
  &.transparent { background: none; box-shadow: none; }
}

.font-14 { @include font-size(14); }

//Text Colours
.blue-gray-text {
  color: $color__fipra-blue-gray;
}

#modal { display: none; }

.menu-list-and-entries-block {
  a:hover { color: $color__fipra-blue-gray; }

  ul.menu-list {
    list-style: none;
    @include media(max-width $media__large) { display: none; }
    &.with-line {
      li:not(:last-child):before {
        z-index: 2;
        content: "";
        width: 1px;
        position: absolute;
        border-left: 1px solid white;
        height: 100%;
        left: em(30px);
        top: em(24px);
      }
    }

    li {
      position: relative;
      &.active {
        background-color: rgba($color__fipra-blue-gray, 0.1);
        color: white;
        font-weight: $font__bold;
        a { color: $color__fipra-blue-gray; }
      }
      &:last-child { border-bottom: 0; }
      a {
        display: block;
        padding: $v-rhythm * 0.5 em(10px);
        line-height: em(40px);
        &:hover { background-color: rgba(black, 0.1); }
        i { display: inline-block; margin-right: em(4px); }
        .svg-icon {
          background-color: white;
          width: 40px; height: 40px;
          @include border-top-radius(50%);
          @include border-bottom-radius(50%);
          svg { fill:$color__fipra-blue; width:60%; }
          }
        }
      }
    }
  }

  .entry-group {

    .entry {
      @include media($media__large) {
        &.hide { display: none; }
      }
      .entry-title {
        h3, h4 {
          i { display: none; }
        }
      }
      .entry-content {
      }
    }

    @include media(max-width $media__large) {
      .entry {
        padding: $v-rhythm * 1.5 0;
        &:first-child { padding-top: 0; }
        &:last-child { padding-bottom: 0; }
        &:not(:last-child) { border-bottom: 1px solid rgba(white, 0.2); }
        .entry-title {
          h3, h4 { position: relative; cursor: pointer; padding-right: em(20px);
            i { display: block; position: absolute; right: 0; top: 0; }
          }
        }
        .entry-content {
          display: none;
          &.show { display: block; }
        }
      }
    }
}

.google-map {
  width: 100%;
  height: 300px;
  border: #ccc solid 1px;
  margin: 0 0 $v-rhythm * 2 0;
}

//Used on our-network page
.continent-block {
  @include clearfix();
  @include row();
  margin-bottom:$v-rhythm * 2;
  &:not(:last-child) { padding-bottom:$v-rhythm * 2; border-bottom:1px solid $color__fipra-light-gray; }
  .units {
    .unit-block {
      line-height: 1;
      margin-bottom:$v-rhythm * 2;
      @include media(min-width $media__small max-width $media__large) { @include span-columns(6); @include omega(2n); }
      @include media($media__large) { @include span-columns(4); @include omega(3n); }

      .unit-title { display:block; padding-top:10px; }
      .flag { padding-right:10px; float:left; }
    }
  }
}

// Used where a translated "About Us" section is available on a Unit page
.about-us-toggle {
  margin-top:-$v-rhythm;
}
.about-us-toggle .hide,
.about-us-text .hide {
  display:none;
}

.white-box {
  background-color:white;
//  padding:$v-rhythm em(18px);
  border-bottom:2px solid darken(white, 13%);
}

.photo-tile {
  border-radius: 4px;
  background-color: $color__fipra-light-gray;
  @include radial-gradient(white, $color__fipra-light-gray);
  border:5px solid white;
  box-shadow: darken($color__fipra-light-gray, 20%) 0 2px 10px;
  transition: all 0.2s;
  width:200px;
  &.dark-shadow { box-shadow: darken($color__fipra-blue-gray, 20%) 0 2px 10px; }
}
a {
  .photo-tile:hover {
    opacity: 0.8;
    margin-top: 3px;
    margin-bottom: -3px;
    //box-shadow: inherit 0 0 5px;
  }
}

.autocomplete-suggestions {
  background-color:white;
  padding:5px;

  .autocomplete-selected {
    background-color:darken(white, 10%);
  }
}

.blue-text { color: $color__fipra-blue !important; }
.black-text { color: $color_soft-black !important; }

.hide-s { @include media(max-width $media__medium) { display:none !important; } }
.hide-m { @include media($media__medium) { display:none !important; } }
.show-l { @include media(max-width $media__medium) { display:none !important; } }

.v-align { @include vertical-align; }

.person {
  &.divider {
    background-color: darken(#eceef2, 15%);
    padding:5px;
    @include font-size(16);

    &.has-border {
      border-left:1px dotted darken(#eceef2, 15%);
    }

    &.has-left-margin {
      margin-left:20px;
    }

    .divider__labelwrap {
      display: inline-block; overflow: visible;

      .divider__label {
        display: inline-block; white-space: nowrap; color:white;
        i { display:none; }
      }
    }

    @include breakpoint($media__medium) {
      position:absolute;
      top:0;
      left:0;
      z-index:-10;
      width:40px;
      height:100%;

      .divider__labelwrap .divider__label {
        transform: rotate(90deg); transform-origin: 0 0;
        margin-left:22px;
        i { display:inline; }
      }
    }
  }
}

a.page-numbers,
.page-numbers.current {
  @extend .btn;
  @extend .primary;
  @extend .btn-extra-small;
  margin-right:0 !important;
}
.page-numbers.current {
  @extend .secondary;
}
a.page-numbers {
  margin-right:0;
  border-bottom: 0 !important;
}

.homepage-block {
  @include media($media__medium) {
    @include font-size(18);
  }
}
.homepage-block__calls-to-action {
  margin-top:$v-rhythm;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

//.hide { display:none; }