$color__customizer-fipra-primary: #00257f;
$color__customizer-fipra-secondary: #14b1cc;
$color__customizer-fipra-tertiary: #5F697F;
$color__customizer-fipra-black: #222222;
$color__customizer-fipra-white: #ffffff;
$color__customizer-fipra-grey: #dbdbdb;
$color__customizer-fipra-body-text: #222222;
$color__customizer-fipra-body-background: #ffffff;