$size__site-main: 100%;
$size__site-sidebar: 25%;

$container__outer-width:1200px;
$container__content-width:1120px;

$media__xxlarge: 1500px;
$media__xlarge: 1200px;
$media__large: 900px;
$media__medium-plus: 841px;
$media__medium: 801px;
$media__small: 481px;

//$gutter: modular-scale(1, 2em, $golden) !default;