$size__site-main: 100%;
$size__site-sidebar: 25%;

$container__outer-width:1400px;
$container__content-width:1320px;

$media__xxlarge: 1700px;
$media__xlarge: 1400px;
$media__large: 1100px;
$media__medium-plus: 841px;
$media__medium: 801px;
$media__small: 481px;

//$gutter: modular-scale(1, 2em, $golden) !default;